@media (max-width: 630px)
{
    .home h2{
        flex-wrap: wrap;
        margin-left: 10%;
    }

    .home h3{
        text-align: center;
        width: 100%;
    }

    h1{
        display: none;
    }

    nav{
        justify-content: center;
        align-items: flex-start;
        width: 100%;    
    }

    .img{
        width: 30%;
        align-items: flex-start;
    }

    .img img{
        width: 120px;
        height: 120px;
        margin-top: 150px;
    }

    .container-sobre{
        width: 70%;
    }

    .titulo-sobre{
        justify-content: center;
    }

    .icones-sobre{
        margin-top: 50px;
    }

    .container-contato{
        height: 15%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .container-contato a{
        margin: 2px;
    }

}

@media (max-width: 1360px){
    .container-projetos{
        height: 260%;
    }
}